<%= search_form_for @q, :class => collapse_search_form, :id => "photos_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :caption_cont, "Caption contains" %>
    <%= f.text_field :caption_cont, :class => "form-control", :placeholder => "Caption contains" %>
  </div>

  <div class="form-group">
    <%= f.label :comments_count, "Comments count" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :comments_count_gteq, :class => "form-control", :placeholder => "Comments count greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :comments_count_lteq, :class => "form-control", :placeholder => "Comments count less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :likes_count, "Likes count" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :likes_count_gteq, :class => "form-control", :placeholder => "Likes count greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :likes_count_lteq, :class => "form-control", :placeholder => "Likes count less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image_cont, "Image contains" %>
    <%= f.text_field :image_cont, :class => "form-control", :placeholder => "Image contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :comments_body_cont, "Comment body contains" %>
    <%= f.text_field :comments_body_cont, :class => "form-control", :placeholder => "Comment body contains" %>
  </div>

  <div class="form-group">
    <%= f.label :poster_email_cont, "User email contains" %>
    <%= f.text_field :poster_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :followers_email_cont, "User email contains" %>
    <%= f.text_field :followers_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :discoverers_email_cont, "User email contains" %>
    <%= f.text_field :discoverers_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :comment_authors_email_cont, "User email contains" %>
    <%= f.text_field :comment_authors_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :fans_email_cont, "User email contains" %>
    <%= f.text_field :fans_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/photos" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#photos_filters">
  Show filters
</a>
